# Azure SQL Database
DB_SERVER=sql-server-3tier.database.windows.net
DB_NAME=app-database
DB_USER=sqladmin
DB_PASSWORD=Baloch101

# Azure Storage Account
STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=...

# App
PORT=3000
